body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(234, 29%, 20%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

}

.container {
  background-color: hsl(0, 0%, 100%);
  padding: 40px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.active-form {
  margin-right: 50px;
}
.main-title {
  font-size: 60px;
  color: hsl(234, 29%, 20%);
}

.features-list {
  list-style: none;
}
.features-list li {
}
svg {
  margin-right: 10px;
  margin-top: 5px;
}
.description {
  letter-spacing: 0.5px;
  font-size: 15px;
  color: hsl(234, 29%, 20%);
}
input {
  display: block;
  width: 320px;
  height: 50px;
  border-radius: 10px;
  padding-left: 20px;
}
.register {
  display: flex;
  justify-content: space-between;
}

.email {
  margin-top: 40px;
  font-size: 12px;
  font-weight: 700;
  color: hsl(234, 29%, 20%);
}
input[type="email"]:invalid {
  border: 2px solid red;
  background-color: #fbe7dd;
}

.error-message {
  color: red;
  display: none;
  font-size: 12px;
  font-weight: 700;
  padding-top: 28px;
}
.features-list {
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: hsl(234, 29%, 20%);
}
button {
  font-weight: 700;
  color: white;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  background-color: hsl(4, 100%, 67%);
  cursor: pointer;
}
button:hover {
  background-color: #ff6a3a;
}
.footer {
  margin-top: 5px;
  font-size: 12px;
  color: white;
}

.footer a {
  color: hsl(4, 100%, 67%);
  text-decoration: none;
}


@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    background-color: white;
  }
  .container {
    margin: 0;
    padding: 0;
    width: 375px;
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .main-img {
    width: fit-content;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .active-form {
    margin: 10px;
    padding: 10px;
  }

  .main-title {
    font-size: 40px; /* Decrease font size for smaller screens */
  }

  .features-list {
    margin: 0;
    padding: 0;
    font-size: 10px;
  }

  input {
    width: 100%;
    max-width: 310px;
    margin-top: 10px;
  }

  .email {
    margin-top: 20px;
  }

  button {
    width: 100%;
    font-size: 12px;
  }

  .footer {
    font-size: 10px;
    color: black;
  }
}
